<h1>Indian Cricket Team</h1>
<b>Player Name : </b><input type="text" [(ngModel)]="playerObj.PlayerName" />
<br /><br />
<b>Player Categery : </b>
<select [(ngModel)]="playerObj.categery">
  <option value="Batting">Batting</option>
  <option value="Bowling">Bowling</option>
  <option value="AllRounder">All Rounder</option></select
><br /><br />
<b>Player Matches : </b><input type="number" [(ngModel)]="playerObj.matches" />
<br /><br />
<b>Total Runs : </b><input type="number" [(ngModel)]="playerObj.runs" />
<br /><br />
<button (click)="savePlayer()">Submit</button>
<button (click)="updateButton()">Update</button>
<hr />
<!-- * Practice *ngIf else & then -->
<div *ngIf="val; then showIf; else showElse">Showing If Statement</div>
<ng-template #showIf>Show If ************</ng-template>
<ng-template #showElse>Showing Else Statement</ng-template>

<!-- ! If elseIf Statement -->
<div *ngIf="val==1; then showIf; else showElse">Showing If Statement</div>
<ng-template #showIf>Show If ************</ng-template>
<ng-template #showElse *ngIf="val==2 ; else showElse2">Showing Else Statement</ng-template>
<ng-template #showElse2 >Showing elseIf = 2</ng-template>

<!-- * Practice *ngSwitch -->

<div [ngSwitch]="Num">

<div *ngSwitchCase ="90"> 100</div>
<div *ngSwitchCase>="60"> Between 60 to 90</div>
<div *ngSwitchCase>="90"> 100</div>
  <div *ngSwitchDefault="default" >Default</div>
</div>
<hr />

<div [ngSwitch]="Num">
  <div *ngSwitchCase=1 >Val : 1</div>
  <div *ngSwitchCase="2">val : 2 </div>
  <div *ngSwitchCase ="3">Val : 3</div>
  <div *ngSwitchCase="4">Val : 4</div>
</div>
<!-- * ngStyle -->
<h4 [ngStyle] ="{ 'background-color' : ColorName , 'color': 'white' }">Applying ng Style</h4>
<!-- * ngClass -->
<h2 [ngClass]="{'applyCSS1':returnBoolean==100 ,'applyCSS': returnBoolean==10}" > Lerning Angular is Fun... !! </h2>
<h2 [ngClass]="['one' ,'two','three']" > Siddhu... Lerning Angular is Very Funny... !! </h2>

<!-- ~ One way Data Binding -->
<!-- * 1) Property Binding -->
<p [innerHTML]= 'myName123'></p>
<input [placeholder]=" 'Enter Name '">
<a [href]="hrefVal" [attr.href]="'http://oracle.com'" [attr.class]="'one'">Google</a>
<input type="text" (click)="functions()" [attr.placeholder]="'Click Event'">
<input type="text" (focus)="functions()" [attr.placeholder]="'Focus Event'">
<input type="text" (dblclick)="functions()" [attr.placeholder]="'Double Click Event'">
<input type="text" (keydown)="functions()" [attr.placeholder]="'KeyDown Event'">
<input type="text" (mouseenter)="functions()" [attr.placeholder]="'Mouse Enter Event'">
<input type="text" (mouseover)="functions()" [attr.placeholder]="'Mouse Over Event'">
<input type="text" (scroll)="functions()" [attr.placeholder]="'Scroll Event'">
<input type="text" (mousewheel)="functions()" [attr.placeholder]="'Mouse Wheel Event'"><br>

<!-- ~ Pipes -->
Enter Val = <input type="text" [(ngModel)]="pipeVar" [attr.placeholder]="'Use Pipes'">
<button (click)="pipeFun()">Click</button> <b>{{showPipe | uppercase}}</b>
<i>{{myDate | date | uppercase }}</i>
<h1>{{fullName.name | highlight:fullName.surName }}</h1>
<div [innerHTML]="fullName.name | highlight:fullName.surName"></div>
<div [innerHTML]="fullName.name | highlight:fullName.surName"></div>
<button (click)="makeRouting()">Routing Button</button>
<u>Sidd..</u>
<button (click)="myShopping()">Click For Shopping</button>
<button (click)="queryParams()">QueryParams</button>

<hr />
<!-- ^ @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<h1>Player's Table</h1>
<table border="2">
  <tr>
    <th>Sr.No.</th>
    <th>Player Name</th>
    <th>Categery</th>
    <th>Played Matches</th>
    <th>Total Runs</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>First</th>
    <th>Last</th>
    <th>Even</th>
    <th>Odd</th>
  </tr>
  <tr *ngFor="let obj of playerArray; let i = index ; first as f ; last as l; even as e ; odd as o">
    <td>{{ i + 1 }}</td>
    <td>{{ obj.PlayerName | uppercase }}</td>
    <td>{{ obj.categery | lowercase }}</td>
    <td>{{ obj.matches | currency:'INR':'code':'3.1-1' }}</td>
    <td>{{ obj.runs | percent }}</td>
    <td><button (click)="editPlayer(i)">Edit</button></td>
    <td><button (click)="deletePlayer(i)">Delete</button></td>
    <th>{{f}}</th>
    <th>{{l}}</th>
    <th>{{e}}</th>
    <th>{{o}}</th>
  </tr>
  <tr *ngIf="playerArray.length === 0">
    No Player to Show .
  </tr>
</table>
<ul>
  <li><a [routerLink]= "'products'">Product Component</a></li>
  <li><a [routerLink]="'task'">Tasks Component</a></li>
  <li><a [routerLink]="'login'">Login Component</a></li>
  <li><a [routerLink]="'logout'">LogOut Component</a></li>
</ul>

<button [routerLink]="'cartRoute'">Go to Cart Button</button>
<button [routerLink]="'queryParams'">Go Back</button>

<router-outlet></router-outlet>
